<br />
<br />
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Order Placed Successfully!</h2>
        <br />
        <img src="img/success.png" width="25%" />
    </div>
    <h3 class="col-12 text-center" style="color:darkred">
        <br />
        Thank you for shopping with us. Please visit again!!!
        <br />
    </h3>
</div>